.list{
  display: flex;
      align-items: center;
      justify-content: center;

}
.recipe-container{
    display: inline-block;
    border-radius: 10px;
    display: relative;
  }
  .recipebox {

    margin: 30px  20px 2px 20px; /* Adjust margin for spacing between recipe boxes */
    text-align: center;
    border: 1px solid #026972;
    border-radius: 10px;
    height: 60%;
    width: 42rem;
    
  
  }
  
  .recipebox .recipimgtext {
    padding-top: 30px;
    display: grid;
      align-items: center;
      justify-content: center;
      box-shadow: 10px 10px 18px 0px rgba(47, 50, 50, 0.457);
      background-color: #e3e4e6;
      border-radius: 10px;
      
      h5{
        display: relative;
      }
  }
  
  .image {
   
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    width: 30;
    width: 22rem; 
    height: 20rem; 
    border-radius: 10px;
  }
  
  button {
    margin-bottom: 30px;
    border-radius: 5px;
    height: 40px;
    /* width: 100px; */
    margin-left: 5px;
    background-color: #026972;
  }
  .details{
margin:20px 30px 40px 30px
  }
  /* Media Queries */
  @media all and (max-width: 600px) {
    .webpage {
      width: 300px;
      height: 200px;
    }
    
    .title {
      font-size: 24px;
    }
    
    .cta-button {
      font-size: 6px;
    }

    .image {
      width: 12rem; 
      height: 8rem; 
    }
    
  }
  